.navbar-custom{
  background-color: rgb(100, 100, 147);
  border-radius:50px;
  box-shadow: 4px 4px 2px 1px rgba(20, 20, 39, 0.2);
}

.nav-link{
  color:white;
  font-weight:780;
  padding:10px;
  margin-left:20px;
  font-size:18px;
  border-radius:20px;
}

.nav-link:hover{
  color:rgb(0, 0, 0);
  background-color:rgb(153, 153, 189);
}

.navbar-brand{
  font-weight:750;
  color:white;
  text-shadow: 4px 4px rgba(20, 20, 39, 0.2);;
}

#title-img{
  height:41px;
  width:50px;
  border-radius:20px;
}

.container h1{
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 25px;
  font-weight: 750;
}

.card:hover{
  box-shadow: 4px 4px 2px 1px rgba(20, 20, 39, 0.2);
}

.btn-custom{
  background-color:rgb(85, 85, 125);
  color: white;
  padding: 12px;
  font-weight: 600;
  border-radius:5px;
}

.btn-custom:hover{
  box-shadow: 2px 2px 2px 1px rgba(12, 12, 12, 0.2);
  cursor:pointer;
  background-color: rgb(100, 100, 147);
}

